numpy==2.0.0
pandas==2.2.3
python-dateutil==2.9.0
openpyxl
redis
Flask
flask-wtf
Flask-SQLAlchemy==3.0.3
psycopg2-binary
flask-bcrypt
flask-login
Flask-Cors==6.0.0
Flask-Migrate==4.0.7
flask_jwt_extended
flask-caching
flask-session
python-dotenv
email_validator
PyJWT
scipy==1.14.1
requests==2.32.3
pyarrow
scikit-learn
statsmodels
lightgbm
mlflow
minio
boto3
pydantic>=2.4.2
celery==5.4.0
flower
pyodbc
pyyaml
ua-parser
user-agents
businessdate
polars
xlsx2csv
fastexcel
python-logstash
pytest
pytest-flask
coverage
pytest-cov
pytest-docker
flask-socketio
gevent==24.11.1
dask[dataframe]
xlrd
xlsxwriter
pathos
pycountry
tqdm
tabulate
paramiko==3.4.1
elastic-apm[flask]
ldap3==2.9.1
pycryptodome==3.21.0
setuptools==78.1.1
urllib3==2.2.3
idna==3.10
fastparquet==2024.11.0
tzlocal==5.3.1
QuantLib==1.42.1
gunicorn==23.0.0
